<h1>

<a href= "http://localhost:3000/deck/index?id=1">Ageless Goblet</a>
<a href= "http://localhost:3000/deck/index?id=2">Shared Fate</a>
<a href= "http://localhost:3000/deck/index?id=3">Untouchable Eggs</a>
<a href= "http://localhost:3000/deck/index?id=4">Death Cloud</a>
<a href= "http://localhost:3000/deck/index?id=5">Scarab God</a>
<a href= "http://localhost:3000/deck/index?id=6">Kird Apes</a>
<a href= "http://localhost:3000/deck/index?id=7">Burn</a>
<a href= "http://localhost:3000/deck/index?id=8">Discard</a>
<a href= "http://localhost:3000/deck/index?id=9">Comeback Red</a>

</h1>
