<a href= "http://localhost:3000/deck/index?id=1">Ageless Goblet</a> |
<a href= "http://localhost:3000/deck/index?id=2">Shared Fate</a> |
<a href= "http://localhost:3000/deck/index?id=3">Untouchable Eggs</a> |
<a href= "http://localhost:3000/deck/index?id=4">Death Cloud</a> |
<a href= "http://localhost:3000/deck/index?id=5">Scarab God</a> |
<a href= "http://localhost:3000/deck/index?id=6">Kird Apes</a> |
<a href= "http://localhost:3000/deck/index?id=7">Burn</a> |
<a href= "http://localhost:3000/deck/index?id=8">Discard</a> |
<a href= "http://localhost:3000/deck/index?id=9">Comeback Red</a>

<br/>
<br/>
<br/>

<strong>Main Deck:</strong>
<ul>
  <% @deck.main_deck().each do |card, card_count| %>
    <li>
      <% card_count.times do %>
        <img src="<%= card.image_url %>">
      <% end %>
      <br/>
    </li>
  <% end %>
</ul>


<strong>Sideboard:</strong>
<ul>
  <% @deck.sideboard().each do |card, card_count| %>
    <li>
      <% card_count.times do %>
      <img src="<%= card.image_url %>">
      <% end %>
      <br/>
    </li>
  <% end %>
</ul>
