<h1>Deck: <%= @name %></h1>
<p>Find me in app/views/deck/index.html.erb</p>
<p><%= @description %></p>

<strong>Main Deck:</strong>
<ul>
  <% @deck.main_deck().each do |card, card_count| %>

    <li>
      <% card_count.times do %>
        <img src="<%= card.image_url %>">
      <% end %>
      <br/>
    </li>
  <% end %>
</ul>


<strong>Sideboard:</strong>
<ul>
  <% @deck.sideboard().each do |card, card_count| %>
    <li>
      <% card_count.times do %>
      <br/>
      <img src="<%= card.image_url %>">
      <% end %>
    </li>
  <% end %>
</ul>
